//
// Variables

// Brand
$gray-base:                           #000;
$gray-darker:                         lighten($gray-base, 13.5%); // #222
$gray-dark:                           lighten($gray-base, 20%);   // #333
$gray:                                lighten($gray-base, 33.5%); // #555
$gray-light:                          lighten($gray-base, 46.7%); // #777
$gray-lighter:                        lighten($gray-base, 93.5%); // #eee
$light:                               #fff;

$brand-primary:                       #00aeef;
$brand-success:                       #00a651;
$brand-info:                          #79ceee;
$brand-warning:                       #fcd845;
$brand-danger:                        #ed1c24;


// Variables -> Core
// Base
$base-font-family:                    "Conv_AvenirNextW1G-Regular", Arial, sans-serif;
$base-font-family-serif:              "Times New Roman", serif;
$base-font-size:                      16px;
$base-font-weight:                    400;
$base-line-height:                    1.28571429;
$base-color:                          #000;
$base-background:                     #fff;

// Link
$link-color:                          $brand-primary;
$link-hover-color:                    $base-color;
$link-decoration:                     none;



// Variables -> Modules
// Typography
$font-size-base:                      $base-font-size !default;
$font-size-large:                     ceil(($base-font-size * 1.125)) !default; // ~18px
$font-size-medium:                    ceil(($base-font-size * 0.875)) !default; // ~14px
$font-size-small:                     ceil(($base-font-size * 0.75)) !default; // ~12px


$font-size-h1:                        floor(($base-font-size * 3)); // ~48px
$font-size-h2:                        floor(($base-font-size * 1.875)); // ~30px
$font-size-h3:                        ceil(($base-font-size * 1.5)); // ~24px
$font-size-h4:                        ceil(($base-font-size * 1.125)); // ~18px
$font-size-h5:                        ceil(($base-font-size * 0.875)); // ~14px
$font-size-h6:                        ceil(($base-font-size * 0.75)); // ~12px

$line-height-base:                    1.428571429;
$line-height-computed:                floor(($base-font-size * $line-height-base)); // ~22px
$line-height-computed-half:           floor(($base-font-size * $line-height-base) / 2); // ~11px


$headings-font-family:                "Conv_AvenirNextW1G-Bold", Arial, sans-serif !default;
$headings-font-weight:                400 !default;
$headings-line-height:                1.33 !default;
$headings-color:                      #000 !default;


// Grid
$screen-sm:                           500px;
$screen-sm-min:                       $screen-sm;
$screen-phone:                        $screen-sm-min;

$screen-md:                           768px;
$screen-md-min:                       $screen-md;
$screen-tablet:                       $screen-md-min;

$screen-lg:                           992px;
$screen-lg-min:                       $screen-lg;
$screen-desktop:                      $screen-lg-min;

$screen-xlg:                          1200px;
$screen-xlg-min:                      $screen-xlg;
$screen-xlg-desktop:                  $screen-xlg-min;

$screen-xs-max:                       ($screen-sm-min - 1) !default;
$screen-sm-max:                       ($screen-md-min - 1) !default;
$screen-md-max:                       ($screen-lg-min - 1) !default;
$screen-lg-max:                       ($screen-xlg-min - 1) !default;

// Number of columns in the grid system
$grid-columns:                        12;
$grid-gutter-width:                   16px;


// Small screen / tablet
$container-mobile:                    (480px + $grid-gutter-width);
$container-sm:                        $container-mobile;

// Small screen / tablet
$container-tablet:                    (720px + $grid-gutter-width);
$container-md:                        $container-tablet;

// Medium screen / desktop
$container-desktop:                   (940px + $grid-gutter-width);
$container-lg:                        $container-desktop;

// Large screen / wide desktop
$container-large-desktop:             (1159px + $grid-gutter-width);
$container-xlg:                        $container-large-desktop;

// Btn
$btn-font-weight:                     400;

$btn-default-color:                   $brand-primary !default;
$btn-default-bg:                      transparent !default;
$btn-default-border:                  $brand-primary !default;

$btn-primary-color:                   #fff !default;
$btn-primary-bg:                      $brand-primary !default;
$btn-primary-border:                  $brand-primary !default;

$btn-success-color:                   #fff !default;
$btn-success-bg:                      $brand-success !default;
$btn-success-border:                  $brand-success !default;

$btn-info-color:                      $brand-info !default;
$btn-info-bg:                         #fff !default;
$btn-info-border:                     #fff !default;

$btn-warning-color:                   #000 !default;
$btn-warning-bg:                      transparent !default;
$btn-warning-border:                  $brand-warning !default;

$btn-danger-color:                    #fff !default;
$btn-danger-bg:                       $brand-danger !default;
$btn-danger-border:                   darken($btn-danger-bg, 5%) !default;

// Padding
$padding-base-vertical:               8px;
$padding-base-horizontal:             16px;

$padding-large-vertical:              14px;
$padding-large-horizontal:            31px;

$padding-small-vertical:              12px;
$padding-small-horizontal:            10px;

$padding-xs-vertical:                 1px;
$padding-xs-horizontal:               5px;

$line-height-large:                   1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:                   1.5;

$border-radius-base:                  10px;
$border-radius-large:                 25px;
$border-radius-small:                 25px;

$btn-border-radius-base:              $border-radius-base;
$btn-border-radius-large:             $border-radius-large;
$btn-border-radius-small:             $border-radius-small;


// Type
$blockquote-small-color:              $gray-light;
$blockquote-font-size:                ($base-font-size * 1.25);
$blockquote-border-color:             $gray-lighter;


// Breadcrumbs
$breadcrumb-padding-vertical:         8px;
$breadcrumb-padding-horizontal:       15px;
$breadcrumb-bg:                       #f5f5f5;
$breadcrumb-color:                    #ccc;
$breadcrumb-active-color:             $gray-light;
$breadcrumb-separator:                "/";


// Pagination
$pagination-color:                    $link-color;
$pagination-bg:                       #fff;
$pagination-border:                   #ddd;

$pagination-hover-color:              $link-hover-color;
$pagination-hover-bg:                 $gray-lighter;
$pagination-hover-border:             #ddd;

$pagination-active-color:             #fff;
$pagination-active-bg:                $brand-primary;
$pagination-active-border:            $brand-primary;

$pagination-disabled-color:           $gray-light;
$pagination-disabled-bg:              #fff;
$pagination-disabled-border:          #ddd;


// Pager
$pager-bg:                            $pagination-bg;
$pager-border:                        $pagination-border;
$pager-border-radius:                 15px;
$pager-hover-bg:                      $pagination-hover-bg;
$pager-active-bg:                     $pagination-active-bg;
$pager-active-color:                  $pagination-active-color;
$pager-disabled-color:                $pagination-disabled-color;


// Tables
$table-cell-padding:                  3px;
$table-condensed-cell-padding:        5px;

$table-bg:                            transparent;
$table-bg-accent:                     #f9f9f9;

$table-bg-hover:                      #f5f5f5;
$table-bg-active:                     $table-bg-hover;

$table-border-color:                  #ddd;


//== Navbar
$navbar-height:                       50px;
$navbar-margin-bottom:                $line-height-computed;
$navbar-border-radius:                $border-radius-base;
$navbar-padding-horizontal:           floor(($grid-gutter-width / 2));
$navbar-padding-vertical:             (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:          340px;

$navbar-default-color:                #777;
$navbar-default-bg:                   #f8f8f8;
$navbar-default-border:               darken($navbar-default-bg, 6.5%);

// Navbar toggle
$navbar-default-toggle-hover-bg:      #ddd;
$navbar-default-toggle-icon-bar-bg:   #888;
$navbar-default-toggle-border-color:  #ddd;

// Navbar links
$navbar-default-link-color:           #fff;
$navbar-default-link-hover-color:     #333;
$navbar-default-link-hover-bg:        #777;
$navbar-default-link-active-color:    #555;
$navbar-default-link-active-bg:       darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color:  #ccc;
$navbar-default-link-disabled-bg:     transparent;


// Navs
$nav-link-padding:                     10px 15px;
$nav-link-hover-bg:                    $gray-lighter;

$nav-tabs-active-link-hover-bg:        $base-background;
$nav-tabs-active-link-hover-color:     $gray;
$nav-tabs-active-link-hover-border-color: #ddd;

$nav-tabs-justified-link-border-color:  #ddd;
$nav-tabs-justified-active-link-border-color: $base-background;


// Form states and table
$input-bg:                             #fff !default;
$input-bg-disabled:                    $gray-lighter !default;

$input-color:                          $gray !default;
$input-border:                         #ccc !default;

$input-border-radius:                  0 !default;
$input-border-radius-large:            $border-radius-large !default;
$input-border-radius-small:            $border-radius-small !default;

$input-border-focus:                   $brand-primary !default;
$input-color-placeholder:              #959595 !default;

$input-height-base:                    ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large:                   (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:                   (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;


$input-group-addon-bg:                 $gray-lighter !default;
$input-group-addon-border-color:       $input-border !default;


$state-primary-text:                   $brand-primary !default;
$state-primary-bg:                     $brand-primary !default;
$state-primary-border:                 darken(adjust-hue($state-primary-bg, -10), 5%) !default;

$state-success-text:                   $brand-success !default;
$state-success-bg:                     $brand-success !default;
$state-success-border:                 darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                      $brand-info !default;
$state-info-bg:                        $brand-info !default;
$state-info-border:                    darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:                   $brand-warning !default;
$state-warning-bg:                     $brand-warning !default;
$state-warning-border:                 darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:                    $brand-danger !default;
$state-danger-bg:                      $brand-danger !default;
$state-danger-border:                  darken(adjust-hue($state-danger-bg, -10), 5%) !default;

$form-group-margin-bottom:             38px !default;

$legend-color:                         $gray-dark !default;
$legend-border-color:                  #e5e5e5 !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                      not-allowed;

//-- Z-index master list
$zindex-navbar:                        1000;
$zindex-navbar-fixed:                  1030;
$zindex-modal-background:              1040;
$zindex-modal:                         1050;




//== Modals
//
//##

//** Padding applied to the modal body
$modal-inner-padding:         0 60px 25px !default;

//** Padding applied to the modal title
$modal-title-padding:         15px !default;
//** Modal title line-height
$modal-title-line-height:     $line-height-base !default;

//** Background color of modal content area
$modal-content-bg:                             #fff !default;
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,.2) !default;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999 !default;

//** Modal backdrop background color
$modal-backdrop-bg:           #000 !default;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .5 !default;
//** Modal header border color
$modal-header-border-color:   #e5e5e5 !default;
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-lg:                    1143px !default;
$modal-md:                    600px !default;
$modal-sm:                    507px !default;


//== Close
//
//##

$close-font-weight:           bold !default;
$close-color:                 #000 !default;
$close-text-shadow:           0 1px 0 #fff !default;


// Variables -> Components

// Navbar


// Variables -> Partials

// Header


// Variables -> Pages

// Home