@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,300,200,100&subset=latin,cyrillic);


@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
  src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
  url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
  url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
  url('../fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'helveticaneuecyrlight';
  src: url('../fonts/helveticaneuecyr-light-webfont.eot');
  src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
  url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
  url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype'),
  url('../fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'helveticaneuecyrmedium';
  src: url('../fonts/helveticaneuecyr-medium-webfont.eot');
  src: url('../fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
  url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
  url('../fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype'),
  url('../fonts/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'helveticaneuecyrthin';
  src: url('../fonts/helveticaneuecyr-thin-webfont.eot');
  src: url('../fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
  url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
  url('../fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype'),
  url('../fonts/helveticaneuecyr-thin-webfont.svg#helveticaneuecyrthin') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Conv_AvenirNextW1G-Bold';
  src: url('../fonts/AvenirNextW1G-Bold.eot');
  src: local('☺'), url('../fonts/AvenirNextW1G-Bold.woff') format('woff'), url('../fonts/AvenirNextW1G-Bold.ttf') format('truetype'), url('../fonts/AvenirNextW1G-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_AvenirNextW1G-BoldItalic';
  src: url('../fonts/AvenirNextW1G-BoldItalic.eot');
  src: local('☺'), url('../fonts/AvenirNextW1G-BoldItalic.woff') format('woff'), url('../fonts/AvenirNextW1G-BoldItalic.ttf') format('truetype'), url('../fonts/AvenirNextW1G-BoldItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_AvenirNextW1G-Demi';
  src: url('../fonts/AvenirNextW1G-Demi.eot');
  src: local('☺'), url('../fonts/AvenirNextW1G-Demi.woff') format('woff'), url('../fonts/AvenirNextW1G-Demi.ttf') format('truetype'), url('../fonts/AvenirNextW1G-Demi.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_AvenirNextW1G-Medium';
  src: url('../fonts/AvenirNextW1G-Medium.eot');
  src: local('☺'), url('../fonts/AvenirNextW1G-Medium.woff') format('woff'), url('../fonts/AvenirNextW1G-Medium.ttf') format('truetype'), url('../fonts/AvenirNextW1G-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_AvenirNextW1G-Regular';
  src: url('../fonts/AvenirNextW1G-Regular.eot');
  src: local('☺'), url('../fonts/AvenirNextW1G-Regular.woff') format('woff'), url('../fonts/AvenirNextW1G-Regular.ttf') format('truetype'), url('../fonts/AvenirNextW1G-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}





// Styles
// ------------------------------------

// first of all. Choose your options
$debug-mode:          false!default;
$use-breadcrumb:      false!default;
$use-pagination:      false!default;
$use-pager:           false!default;
$use-btn-color:       true!default;
$use-btn-group:       true!default;
$use-btn-size:        true!default;
$use-input-group:     false!default;
$use-split:           false!default;
$use-rules:           false!default;
$use-this-or-this:    false!default;
$use-has-feedback:    false!default;
$use-color-text:      true!default;
$use-table:           false!default;
$use-color-table:     false!default;
$use-column-table:    false!default;
$use-flexbox:         false!default;
$use-adaptive:        true!default;

// plugins
$use-animations:      false!default;

// Variables
@import "_variables";

// Util
@import "utils/_glob";

// Base
@import "base/_glob";

// Components
@import "components/_glob";

// Layout
@import "layout/glob";


// Vendors
@import "vendors/glob";

