nav.navbar.navbar-fixed-top(role='navigation')
    .container
        .pull-left.mainMenuBtn
            a(href='#'): img(src="images/burgerIco.png", alt="")
        .navbar-right.text--center.text--md--right.header__desc.hidden--xs
            a.header__desc-phone(href="tel:88009684545")
                sup 8 800
                |  968-45-45
            a.header__desc-modal.text--uppercase(data-toggle='modal', href="#call-id") Перезвоните мне
        .text--center.anchor.logo: a(href='#top')
                img(src="images/logo.png", alt="")
    .mainMenu
        button.close.mainMenuClose(type='button'): img(src="images/closeWhite.png", alt="")
        ul.list--unstyled.anchor
            each href, item in navbar
                li: a(href="#{href}", title="#{item}")= item