//
// Modules -> Forms
// --------------------------------------------------


// Normalize non-controls
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($font-size-base * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 400;
  color: #636363;
  text-transform: uppercase;
  height: 36px;
  padding-top: 10px;
}


// Normalize form controls
input[type="search"] {
  @include box-sizing(border-box);
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}


// Common form controls
.form-control {
  display: block;
  width: 100%;
  height: 36px; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid $brand-primary;
  border-radius: 10px; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  //@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus;

  // Placeholder
  @include placeholder;

  // Disabled and read-only inputs
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1;
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }


}


select.form-control {
  background: #fff url("../images/selectArr.png") center right 13px no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// Reset height for `textarea`s
textarea.form-control {
  height: auto;
  resize: none;
}


// Search inputs in iOS
input[type="search"] {
  -webkit-appearance: none;
}


.form-group {
  margin-bottom: $form-group-margin-bottom;
}


// Checkboxes and radios
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

  label {
    min-height: $line-height-computed; // Ensure the input doesn't jump when there is no text
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 4px;
      display: block;
      height: 20px;
      width: 20px;
      background: #fff;
      border: 1px solid $table-border-color;
      @include border-top-radius(3px);
      @include border-bottom-radius(3px);
    }
  }
}
.radio{
  label {
    &:after {
      @include border-radius(50%);
    }
  }
}

.checkbox input[type="checkbox"]:checked + label:after {
  background: $brand-success;
}
.radio input[type="radio"]:checked + label:after {
  background: $brand-success;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px; // Move up sibling radios or checkboxes for tighter spacing
}

// Radios and checkboxes on same line
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px; // space out consecutive inline controls
}


// These classes are used on elements with <label> descendants
.radio,
.checkbox {
  &.disabled,
  fieldset[disabled] & {
    label {
      cursor: $cursor-disabled;
    }
  }
}

@if $use-has-feedback == true {
  // Form control feedback states
  .has-feedback {
    position: relative;

    .form-control {
      padding-right: ($input-height-base * 1.25);
    }
  }
  // Feedback icon (requires .glyphicon classes)
  .form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2; // Ensure icon is above input groups
    display: block;
    width: $input-height-base;
    height: $input-height-base;
    line-height: $input-height-base;
    text-align: center;
    pointer-events: none;
  }

  // Feedback states
  .has-success {
    @include form-control-validation($state-success-text, $state-success-text, $state-success-bg);
  }
  .has-warning {
    @include form-control-validation($state-warning-text, $state-warning-text, $state-warning-bg);
  }
  .has-error {
    @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
  }

  .has-feedback label {
    & ~ .form-control-feedback {
      top: ($line-height-computed + 5); // Height of the `label` and its margin
    }
    &.sr-only ~ .form-control-feedback {
      top: 0;
    }
  }
}