//
// Partials -> Footer
// ------------------------------------

.site-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
}

.tabs {
  padding: 0;
  margin: 0;
  @media (min-width: $screen-xlg-min) {
    position: absolute;
    right: 200px;
    top: 10px;
    z-index: 2;
  }
  li {
    display: inline-block;
    margin: 5px 10px;
    a {
      color: #636363;
      text-transform: uppercase;
      text-decoration: underline;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    &.active a {
      color: red;
      text-decoration: none;
    }
  }
}



.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
  background: rgba(0, 0, 0, 0.75);
}