//
// Partials -> Header
// ------------------------------------


.site-header .navbar  {
  //background: rgba(0,0,0,0.5);
  background: rgba(234, 234, 232, 0.8);
}
.mainMenuBtn {
  margin-top: 14px;
}
.header__desc {
  font-family: 'Exo 2', sans-serif;
  font-size: 12px;
  a {
    display: block;
    color: #000;
  }
  &-phone {
    font-size: 24px;
    padding-bottom: 9px;
    font-weight: 400;
    text-decoration: none;
    sup {
      font-size: 14px;
      font-weight: 100;
    }
  }
  &-modal {
    color: black;
    font-weight: 100;
  }
}

.mainMenu {
  //background: url('../images/menuBack.jpg') center repeat;
  background: $brand-primary;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 200;
  line-height: 2;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  z-index: 4;
  @media (min-width: $screen-md-min) {
    font-size: 20px;
    padding: 112px 136px 90px 86px;
    line-height: 2.5;
  }
  @include transition();
  a {color: white;}
  .close {
    position: absolute;
    top: 23px;
    right: 16px;}
}

@media (min-width: $screen-sm-min) {
  .logo img {margin-left: 104px;}
}