//
// Partials -> Main
// ------------------------------------

//.site-main {
//  overflow: hidden;
//}

.gray {
  background: url("../images/background.jpg") center center;
}

.titleLine {
  position: relative;
  margin-bottom: 61px;
  &::after {
    content: '';
    width: 80px;
    height: 1px;
    background-color: $brand-primary;
    position: absolute;
    bottom: -22px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

@media (min-width: $screen-md-min) {
  .titleSize {
    span {
      display: block;
    }
  }
}
.topBar {
  background: url("../images/mainImg.jpg") right center no-repeat, #ebebec;
  padding: 122px 0 80px;
  @media (min-width: $screen-sm-min) {
    padding: 222px 0 80px;
  }
  &__inner {
    background: rgba(234, 234, 232, 0.8);
    max-width: 705px;
    padding: 0 10px;
    @media (min-width: $screen-sm-min) {
      padding-left: 63px;
    }
  }
  h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}


.program {
  padding: 40px 0 54px;
  line-height: 1.6;
  h3 {
    margin-top: 40px;
  }
  ul {
    li::before {
      content: '';
      background: url("../images/listOk.png") top center no-repeat;
      width: 12px;
      height: 12px;
      display: inline-block;
      margin-right: 14px;
    }
  }
  &Anim {
    height: 430px;
    position: relative;
    //background: url("../images/secImg.jpg") top -52px center no-repeat;
    //background-size: 400px auto;
    img {
      position: absolute;
      max-width: 307px;
      top: -1%;
      //bottom: 0;
      left: 0;
      right: 0;
      margin: auto;

      @media (min-width: $screen-md-min) {
        left: 24%;
      }
    }
  }
}


.reason {
  @extend .gray;
  padding: 0 0 57px;
  line-height: 1.6;
  h2 {
    margin-top: 48px;
    margin-bottom: 50px;
  }
  p, h3 {
    margin-bottom: 25px;
  }
  &__middle {
    padding-top: 182px;
  }

}


.howto {
  padding: 38px 0;
  position: relative;
  @media (min-width: $screen-md-min) {
    padding: 38px 0 108px;
  }
  h5 {
    font-family: 'Conv_AvenirNextW1G-Demi';
  }
  &__item {
    margin-bottom: 24px;
    padding: 0 22px;
    line-height: 1.7;
    @media (min-width: $screen-xlg-min) {
      padding: 0 78px;
    }
    @media (min-width: $screen-md-min) {
      margin-bottom: 94px;
    }
  }
  h2 {
    margin-bottom: 52px;
    @media (min-width: $screen-lg-min) {
      margin-bottom: 121px;
    }
  }
}


.schedule {
  @extend .gray;
  position: relative;
  padding: 28px 0;
  @media (min-width: $screen-md-min) {
    padding: 28px 0 16px;
  }
  &__item {
    padding-top: 23px;
    h5 {
      margin-bottom: 5px;}
    h2 {margin-top: 1px; }
    @media (min-width: $screen-lg-min) {
      padding: 93px 35px 0;
      max-width: 252px;
      margin: auto;
    }
  }
  b {
    font-style: italic;
    font-family: 'Conv_AvenirNextW1G-BoldItalic';
  }
  h2 {
    //margin-bottom: 87px;
  }
  &Date {
    font-size: 19px;
    span {
      font-size: 36px;
    }
  }
}


.scheme {
  padding: 14px 0 71px;
  > h2 {
    margin-bottom: 81px;
  }
  @media (min-width: $screen-md-min) {
    //padding: 14px 0 127px;
  }
  .container {position: relative;}

  @media (min-width: $screen-md-min) {
    .btn {
      position: absolute;
      bottom: -25px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}


.subscribe {
  @extend .gray;
  padding: 20px 0 48px;
  > h2 {
    margin-bottom: 78px;
  }
  &__form {
    padding: 0 28px;
  }
  &__item {
    b {
      display: block;
      font-weight:700;
    }
    border: 4px solid $brand-primary;
    max-width: 234px;
    margin: 0 auto 20px;
    padding: 5px;
  }
  .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid $brand-primary;
    //color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}



.map {
  position: relative;
  color: #636363;
  font-family: 'helveticaneuecyrlight';
  ymaps {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(grayscale.svg#old-timey);
  }
  &__inner {
    background: #fff;
    padding: 25px;
    @media (min-width: $screen-md-min) {
      width: 322px;
      line-height: 1.8;
      position: absolute;
      top: 90px;
      right: 98px;
      z-index: 2;
    }
    //a { color: #636363; margin-bottom: 7px;}
    b {
      font-family: 'helveticaneuecyrmedium';
      font-weight: 500;
      color: #000;
      margin-bottom: 15px;}
    h4 {
      font-family: 'helveticaneuecyrmedium';
      font-weight: 500;}
    .btn {
      width: 190px;
    }
    a:not(.btn) {
      color: #636363;
      text-decoration: none;
    }
  }
}

// plugins
.modal {
  .form-control, .btn {
    height: 44px;
    @include border-radius(25px);
  }
  textarea.form-control {height: 145px;}
  .btn--success {
    background: $brand-info;
    &:hover, &:focus, &.active {
      color: $light;
      background-color: darken($brand-info, 10%);
    }
  }
  .info {
    .form-control {
      border-color: $brand-info;
    }
  }
}
.tab-content {
  margin-top: 20px;
  @media (min-width: $screen-md-min) {
    margin-top: 80px;
  }
}

.modalInner {
  padding: 10px 16px 10px 50px;
  ul {
    font-weight:400;
    li {
      margin-bottom: 15px;
    }
  }
}
.popup-slider {
  .modal-content {
    overflow: hidden;
  }
  .item {
    position: relative;
    &__text {
      position: absolute;
      left: 32px;
      bottom: 32px;
      z-index: 3;
      h5 {
        padding: 5px 20px;
        background: $brand-info;
        color: $light;
      }
      p {color: $light;
        font-weight:400;}
    }
  }
  img {
    display: block;
  }
}

@media (max-width: $screen-sm-max) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.back--primary {
  background: $brand-primary;
  display: inline-block;
  color: $light;
  padding: 5px;
  position: relative;
  sup {
    position: absolute;
    font-size: 18px;
    top: -5px;
    right: -10px;
  }
}

.col-md-pull-9 {
  right: 75%;
}
.col-md-push-3 {
  left: 25%;
}