main.site-main
    #top.topBar
        .container
            .topBar__inner
                h4.text--uppercase.back--primary Зарабатывай
                    sup.text--primary +
                h1.text--uppercase
                    b
                        span.number(data-number="70") 70
                        |  000 рублей
                    |  в месяц
                    | на ремонте
                    b  Iphone
                h4.hidden--xs.margbot100.text--primary.titleSize Пройди обучение в течении 10 дней, лучшие руки
                    span  трудоустроим
                h4.visible--xs.text--primary Пройди обучение в течении 10 дней, лучшие руки трудоустроим
                ul.list--inline.list--middle.text--uppercase.margtop20.padbot20.text--sm--left.text--center
                    li: a.btn.btn--primary.btn--lg(data-toggle='modal', href="#send-id") ЗАПИСАТЬСЯ
                    li.hidden--xs или
                    li.hidden--xs: a(href="#") свяжитесь с нами
    #program.program
        .container
            .text--center
                h2.titleLine программа обучения
                    small От азов сборки и разборки до ремонта микросхем и плат
            .row
                .col.col-md-6.col-xs-12.text--center.programAnim
                    img.programAnim__item.programAnim__item-5(src="images/iphoneDetails-5.png", alt="")
                    img.programAnim__item.programAnim__item-4(src="images/iphoneDetails-4.png", alt="")
                    img.programAnim__item.programAnim__item-3(src="images/iphoneDetails-3.png", alt="")
                    img.programAnim__item.programAnim__item-2(src="images/iphoneDetails-2.png", alt="")
                    img.programAnim__item.programAnim__item-1(src="images/iphoneDetails-1.png", alt="")
                .col.col-md-5.col-xs-12.pull-right
                    h3 Практическая работа
                        br
                        | с первой минуты
                    ul.list--unstyled
                        li Полная ручная разборка, сборка телефонов
                        li Полная ручная разборка, сборка планшетов
                        li Модульная разборка, сборка и тестирование
                        li Замена не работающего, разбитого модуля и проверка
                        li Проверка цепи питания
                        li Решение неисправностей с питанием
                    .text--md--left.text--center.margtop100.hidden--xs
                        a.btn.btn--primary.btn--lg(data-toggle='modal', href="#send-id") хочу научиться
                    .text--md--left.text--center.margtop20.visible--xs
                        a.btn.btn--primary.btn--lg(data-toggle='modal', href="#send-id") хочу научиться
    #reason.reason
        .container
            .text--center
                h2.titleLine Чему вы научитесь
                    small Навыки которые остануться с вами навсегла
            .row
                .col.col-md-5.col-xs-12.text--md--right.text--left
                    h3 путь мастера
                    p Правильно разбирать на модульные
                        br
                        | составляющие iPhone, iPad
                    p Используя паяльное оборудование,
                        br
                        | производить замену не работающих деталей на
                        br
                        | плате
                    p Использовать на практике профессиональное
                        br
                        | диагностическое оборудование
                    p Проводить работы по ремонту системных плат с
                        br
                        | использованием специальных химических реактивов
                    .text--center.margtop10.visible--sm.visible--xs
                        a.btn.btn--primary.btn--lg(href="#send-id", data-toggle="modal") Буду мастером
                .col.col-md-2.col-xs-12.text--center.reason__middle.hidden--xs.hidden--sm
                    p u
                .col.col-md-5.col-xs-12
                    h3 путь Бизнесмена
                    p Вы получите все необходимые знания и навыки для:
                    ul.list--unstyled
                        li Открытия собственного сервисного центра
                        li Как собрать команду
                        li Как искать и привлекать клиентов
                        li Как постоить успешный сервис
                        li Как создать франшизу
                    .text--center.margtop10.visible--sm.visible--xs
                        a.btn.btn--default.btn--lg(href="#send-id", data-toggle="modal") Хочу свое дело
            .row.margtop40.hidden--sm.hidden--xs
                .col.col-md-5.col-sm-6.col-xs-12.text--md--right.text--center.margtop10
                    a.btn.btn--primary.btn--lg(href="#send-id", data-toggle="modal") Буду мастером
                .col.col-md-2.hidden--sm.hidden--xs
                .col.col-md-5.col-sm-6.col-xs-12.text--md--left.text--center.margtop10
                    a.btn.btn--default.btn--lg(href="#send-id", data-toggle="modal") Хочу свое дело
    #howto.howto
        .container.text--center
            h2.titleLine Как проходит обучение
                small Знания доносим через руки
            .row
                .col.col-md-4.col-xs-12
                    .howto__item
                        img(src="images/howtoIco-1.jpg", alt="")
                        h5.text--uppercase малая группа
                        p.text--md практических занятий обучение проходит в малой группе (
                            span.text--primary не более 3-х человек
                            | )
                .col.col-md-4.col-xs-12
                    .howto__item
                        img(src="images/howtoIco-2.jpg", alt="")
                        h5.text--uppercase Персональная работа
                        p.text--md Обучение проходит в
                            span.text--primary  VIP формате,
                            |  что позволяет получить высокий результат
                .col.col-md-4.col-xs-12
                    .howto__item
                        img(src="images/howtoIco-3.jpg", alt="")
                        h5.text--uppercase Практика с первой минуты
                        p.text--md Мы делаем акцент на практике, уже
                            span.text--primary  на 1 уроке вы научитесь разбирать и собирать IPHONE
            a.btn.btn--primary.btn--lg.margtop30(href="#send-id", data-toggle="modal") Хочу записаться
    #schedule.schedule
        .container.text--center
            h2.titleLine Расписание занятий
                small Время удобное для вас
            .row
                .visible--sm.visible--xs.margbot20
                    p.text--sm.text--uppercase добавьте событие в календарь
                    a.btn.btn--success.btn--md.text--uppercase(href="https://calendar.google.com/calendar/render", target="_blank") Добавить
                .col.col-md-4.col-sm-6.col-xs-12
                    .schedule__item
                        .text--md--left.text--center
                            h5.back--primary (5 дней в неделю)
                                sup.text--primary +
                            h2 группа №1
                        .scheduleDate старт
                            br
                            span 17
                            br
                            | мая
                        p.text--lg.text--primary.margtop20 с 17:00 до 19:00
                        p.text--lg.margtop10: b осталось 2 места
                    a.btn.btn--primary.btn--lg.margtop20(href="#send-id", data-toggle="modal") Хочу в эту группу
                .col.col-md-4.col-sm-6.col-xs-12.pull-right
                    .schedule__item
                        .text--md--left.text--center
                            h5.back--primary (5 дней в неделю)
                                sup.text--primary +
                            h2 группа №2
                        .scheduleDate старт
                            br
                            span 21
                            br
                            | мая
                        p.text--lg.text--primary.margtop20 с 19:00 до 21:00
                        p.text--lg.margtop10: b осталось 4 места
                    a.btn.btn--primary.btn--lg.margtop20(href="#send-id", data-toggle="modal") Хочу в эту группу
                .col.col-md-4.col-xs-12.text--center.hidden--xs.hidden--sm
                    a(href="https://calendar.google.com/calendar/render", target="_blank"): img(src="images/scheduleImg.jpg", alt="")
    #scheme.scheme
        .container.text--center
            .center-block.col-lg-8.col-xs-12
                h2.titleLine Как это происходит
                    small Время удобное для вас
                .single-item
                    - for (var x = 1; x < 6; x++)
                        div: img(src="images/schemeImg.jpg", alt="")
                a.btn.btn--primary.btn--lg.text--uppercase.margtop10(href="#send-id", data-toggle="modal") супер, иду на курс
    #subscribe.subscribe
        .container.text--center
            h2.titleLine записаться на курс
                small Окупается с 5 го заказа
            .row
                .col.col-md-4.col-xs-12
                    .subscribe__item
                        h4
                            b.text--uppercase стоимость курса
                            | до 13 мая
                        h2.text--primary 15 990
                .col.col-md-4.col-xs-12
                    .subscribe__item
                        h4
                            b.text--uppercase стоимость курса
                            | до 15 мая
                        h2.text--success 17 990
                .col.col-md-4.col-xs-12
                    .subscribe__item
                        h4
                            b.text--uppercase стоимость курса
                            | до 17 мая
                        h2.text--danger 19 990
            .center-block.col-xlg-3.col-lg-4.col-md-6.col-sm-8.col-xs-12.subscribe__form
                form.margtop40
                    .form-group
                        input.form-control(type="text", placeholder="Введите Ваше имя")
                    .form-group
                        input.form-control(type="email", placeholder="Введите Вашу почту")
                    .form-group
                        input.form-control(type="text", name="number", placeholder="Введите Ваш телефон")
                    button.btn.btn--block.btn--primary.btn--lg(type="submit") принять участие
    #map.map
        .map__inner
            h4.text--uppercase КОнтакты
            p: b Адрес:
            p 127051, г. Москва, Малая Сухаревская площадь, д. 6, стр. 1
            p: b Контакты:
            p
                a(href="tel:84959685448") +7 (495) 968 54 48
                br
                a(href="tel:89859162620") +7 (985) 916 26 20
            p: b Email:
            p: a(href="mailto:sale@omegadisk.ru") sale@omegadisk.ru
            a.margtop20.btn.btn--default(data-toggle='modal', href="#send-id") напишите нам
        script(type="text/javascript", charset="utf-8", src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=3FfEVj1QGQqVMxwk1QdApybl3HWyc0fF&width=100%&height=717&lang=ru_RU&sourceType=constructor")